body {
  font-family: Arial,'times new roman', 'open sans', sans-serif;
    color: #ffffff;
}

.card {
  border: medium solid #gray;
  border-radius: 5px;
  width: 300px;
  padding: 5px 10px 10px 10px;
  margin: auto;
  background-color: #000000;
  box-shadow: 5px 5px 5px lightgray;
}

.name {
  line-height: 6px;
}

img {
  width: 300px;
  padding: 0px 25px 8px 0px;
  border-radius: 0px;
  border: medium solid #gray;
}

.info {
  font-size: 14px;
  border: medium solid #gray;
  border-radius: 0px;
  padding: 5px 5px 5px 5px;
  background-image: url('https://image.ibb.co/dDz4gw/test_kodiak_bear_background.png');
  opacity: .75;
}

.fact {
  text-align: justify;
  font-style: italic;
}

.list {
  padding-left: .5rem;
  list-style-type: none;
}

.list li span {
  font-weight: bold;
}

.transbox {
  margin: auto;
  background-color: #lightgray;
  /* For IE8 and earlier */
  filter: alpha(opacity=90);
}

.transbox p {
    text-align: justify;
  margin: 8px;
  }
